@font-face{
    font-family: 'Loki';
    src: url('./../fonts/font_loki.ttf');
}
@font-face{
    font-family: 'Montserrat';
    src: url('./../fonts/font_montserrat.ttf');
}
@font-face{
    font-family: 'CaviarDreams';
    src: url('./../fonts/font_caviar.ttf');
}
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    outline: none;
    scroll-behavior: smooth;
}
body{
  overflow-x: hidden;
}
::-webkit-scrollbar{
    width: 0;
}
.width_content{
    padding: 50px 100px;
}
.title_sec{
  font-size: 40px;
  font-family: 'CaviarDreams';
  font-weight: 100;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-transform: uppercase;
  margin: 50px 0;
}
.title_sec img{
  max-width: 40px;
  filter: invert(1);
  margin-left: 30px;
}
.header_section{
  position: relative;
  width: 100%;
  height: calc(100vh + 20px);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
video{
 position: absolute;
 top: 0;
 left: 0;
 width: 100%; 
 height: 100%;
 object-fit: cover;
}

/* no content */
.messageTechEnginering{
  position: fixed;
  z-index: 10000000;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  transition: .5s;
}
.messageTechEnginering .modelTech{
  background: #fff;
  max-width: 500px;
  width: 100%;
  border-radius: 8px;
  padding: 15px 30px;
  position: relative;
}
.messageTechEnginering.active{
  opacity: 0;
  visibility: hidden;
  transform: scale(0);
}
.messageTechEnginering .modelTech p{
  line-height: 150%;
  font-family: 'Montserrat';
  font-weight: 100;
  color: #202020;
  font-size: 20px;
}
.disabledMenu a,
.disabledMenu h3{
  color: #eee !important;
  opacity: .5;
}
/* no content */

header{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo{
  position: relative;
  transition: .5s;
}
.logo img{
    width: 75px;
}
.toggle{
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.toggle::before{
  position: absolute;
  content: 'Меню';
  font-family: 'Montserrat';
  text-transform: uppercase;
  color: #fff;
  right: 0;
  letter-spacing: 2px;
  font-size: 14px;
  padding: 5px 10px;
  background: #fff;
  color: #111;
  border-radius: 4px;
}
.toggle.active::before{
  content: 'закрыть';
}
.glass{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 40%;
  z-index: 1;
  backdrop-filter: blur(15px);
  box-shadow: 10px 0 15px rgba(255,255,255,0.1);
  transition: .5s;
  transition-delay: 1s;
}
.header_section.active .glass{
  width: 100%;
  backdrop-filter: blur(20px);
  transition-delay: 0s;
  box-shadow: 10px 0 15px rgba(255,255,255,0.5);
}
.content{
  position: relative;
  z-index: 10;
  text-align: center;
  transition: .5s;
  transition-delay: 1s;
}
.content h2{
  position: relative;
  color: #fff;
  font-size: 7vw;
  font-weight: 100;
  line-height: 0.55em;
  text-shadow: 0 5px 5px rgba(0,0,0,0.2);
  font-family: 'Loki';
}
.content h2 span{
  font-size: 0.17em;
  font-weight: 100;
  letter-spacing: 5px;
  background: #fff;
  color: #111;
  padding: 5px 15px;
  text-shadow: 0 5px 5px rgba(0,0,0,0.2);
  box-shadow: 0 5px 5px rgba(0,0,0,0.2);
  text-transform: uppercase;
  font-family: 'Montserrat';
  border-radius: 4px;
}
.header_section.active .content{
  opacity: 0;
  visibility: hidden;
  transform: translateX(-200px);
  transition-delay: 0s;
}
.sci{
  position: absolute;
  bottom: 60px;
  right: 100px;
  display: flex;
  z-index: 100;
  transition: .5s;
}
.sci.activeSci{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
  height: 60px;
  z-index: 10000000;
  padding: 10px 100px;
}
.sci.activeSci li{
  border: 1px solid #111;
}
.sci li{
  margin: 5px;
  padding: 5px 10px;
  background: #fff;
  border-radius: 4px;
  transition: .5s;
  transition-delay: calc(0.175s * var(--i) );
}
.sci li button{
  color: #111;
  display: inline-block;
  letter-spacing: 2px;
  background: #fff;
  font-weight: 500;
  font-size: 12px;
  border: none;
  text-transform: uppercase;
  font-family: 'Montserrat';
}
.header_section.active .sci li{
  opacity: 0;
  visibility: hidden;
  transform: translateY(100px);
}
.navigator{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}
.navigator li{
  text-align: center;
  margin: 15px 0;
  opacity: 0;
  visibility: hidden;
  transition: .5s;
  transform: translateX(200px);
  transition-delay: calc(0.2s * var(--i));
}
.header_section.active .navigator li{
  opacity: 1;
  visibility: visible;
  transform: translateX(0px);
}
.navigator li a{
  color: #111;
  font-size: 1.5em;
  letter-spacing: 4px;
  font-family: 'Montserrat';
  font-weight: 300;
  text-transform: uppercase;
  background: #fff;
  border-radius: 4px;
  padding: 4px 10px;
  display: inline-block;
  transition: .5s;
}
.navigator li a:hover{
  letter-spacing: 15px;
  padding: 10px 15px;
  padding-left: 30px;
}
.bottom_image_decor{
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 20px;
    background: url('./../img/image_end_content.png');
    background-position: bottom;
    animation: animateLeft 100s linear infinite;
    z-index: 10000;
}
.bottom_go{
  bottom: -10px;
}


/* about */
.about_section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.image_layer{
    position: relative;
    background: url('./../img/layer_image.jpg');
    background-size: cover;
    background-position: right;
    -webkit-background-size: cover;
    width: 450px;
    height: 450px;
}
.image_layer::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('./../img/layer_bg.jpg');
    background-size: 450px;
    -webkit-background-size: 450px;
    background-position: center;
    mix-blend-mode: screen;
}
.about_section h1{
    font-size: 40px;
    font-family: 'CaviarDreams';
    font-weight: 100;
    text-transform: uppercase;
}
.about_section p{
    margin-top: 30px;
    font-size: 20px;
    font-family: 'Montserrat';
    font-weight: 100;
    max-width: 500px;
    line-height: 150%;
}
.slideTechnology{
  display: flex;
  justify-content: center;
}
.slideTechnology img{
  height: 100px;
}


/* slider */
.mainSlide{
  color: #fff;
  width: 100%;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background-size: cover !important;
  background-position: right !important;
}
.content_slider_check{
  position: absolute;
  z-index: 10000;
}
.swiper_pagination{
  position: absolute;
  left: 50px !important;
  bottom: 65px !important;
  padding: 15px 30px;
  background: rgba(0,0,0,0.5);
  z-index: 100000;
  display: flex;
  width: auto !important;
  border-radius: 8px;
}
.swiper-pagination-bullet-active,
.swiper-pagination-bullet{
  border: 1px solid #fff !important;background: transparent !important; 
  padding: 8px !important;
  margin-right: 15px !important;
  position: relative !important;
  opacity: 1 !important;
}
.swiper-pagination-bullet-active::before{
  content: '' !important;
  position: absolute !important;
  width: 80% !important;
  height: 80% !important;
  background: #fff !important;
  left: 50% !important;
  top: 50% !important;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}
.swiper_pagination .swiper-pagination-bullet:last-child{
  margin-right: 0 !important;
}
.navigate_buttons{
  position: absolute;
  right: 50px;
  bottom: 65px;
  display: flex;
  z-index: 100000;
  background: rgba(0,0,0,0.5);padding: 15px 30px;
  border-radius: 8px;
}
.navigate_buttons div{
  padding: 0px 20px;
  border: 2px solid #fff;
  margin-left: 10px;
  border-radius: 4px;
  font-size: 30px;
  transition: .5s;
  color: #fff;
  cursor: pointer;
}
.navigate_buttons div:hover{
  color: #000;
  background: #fff;
}
.swiperMain{
  position: relative;
}
.mainSlide h1{
  font-size: 28px;
  text-transform: uppercase;
  font-weight: 100;
  margin-bottom: 15px;
  font-family: 'CaviarDreams';
}
.mainSlide p{
  font-size: 20px;
  max-width: 800px;
  font-weight: 100;
  line-height: 150%;
  margin-top: 15px;
  font-family: 'Montserrat';
}
.bottom_no{
  bottom: 0px;
}
.rotateSettings{
  top: 0;
  transform: rotate(180deg);
}
.technology_section{
  margin-bottom: 50px;
}


/* cards */
.cards_products{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.cards_products .cardProject{
  display: flex;
  padding-top: 20px;
  flex-direction: column;
  font-family: 'Montserrat';
  background: transparent;
  color: #000;
  border: 1px solid transparent;
  border-radius: 8px !important;
  background: linear-gradient(#fff,#fff) padding-box,
  linear-gradient(187.58deg, #fff 7.33%, #000 60%) border-box;
  overflow: hidden;
  height: 300px;
  margin-bottom: 20px;
  margin-top: 15px;
  margin-right: 30px;
  transition: .5s;
}
.cards_products .cardProject h3{
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
  text-transform: uppercase;
  color:#000;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 275;
  font-size: 20px;
  line-height: 29px;
  margin-bottom: 20px;
}
.cards_products .cardProject .card_job{
  margin-bottom: 10px;
  font-family: 'Montserrat';
  padding-left: 15px;
  font-style: normal;
  font-weight: 275;
  font-size: 16px;
  line-height: 20px;
}
.cards_products .cardProject img{
  margin-top: 25px;
  width: 100%;
  height: 200px;
  object-fit:cover;
  transform: translateY(-80px);
  transition: .5s;
}
.cards_products .cardProject .moreInfo{
  border: 1px solid transparent;
  background: linear-gradient(#fff,#fff) padding-box,
  linear-gradient(90deg, #000 -5.68%, #fff 16.36%, #fff 80.16%, #000 105.68%) border-box;
  padding: 12px ;
  text-align: center;
  border-radius: 4px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 100;
  font-size: 14px;
  line-height: 17px;
  margin: 15px;
  color: #000;
  transition: .5s;
  opacity: 0;
  visibility: hidden;
  transform: scale(0);
}
.cards_products .cardProject:hover{
  height: 380px;
  border: 1px solid #000;
  transform: rotate(5.05deg);
  
}
.cards_products .cardProject:hover .moreInfo{
  opacity:1;
  visibility: visible;
  transition-delay: 0.5s display;
  transform: scale(1);
  display: block;
  transition: .5s;
}
.cards_products .cardProject:hover img{
  transform: translateY(0px);
}
.cards_products .cardProject .moreInfo:hover{
  border: 1px solid #000 ;
}

/* client */
.slide_client img{
  height: 100px;
}
.slide_client{
  display: flex;
  justify-content: center;
}

/* footer */
footer{
  background: rgb(17,17,17);
  position: relative;
  width: 100%;
}
.foot_bg_top{
  width: 100%;
  position: absolute;
  top: -2px;
  z-index: 1000;
}
footer canvas{
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
.content_footer{
  position: relative;
  background: rgba(0,0,0,0.3);
  bottom: 0;
  width: 100%;
  padding-top: 500px;
  height: 100%;
  color: #fff;
  display: flex;
  z-index: 100;
  flex-direction: column;
  justify-content: flex-end;
}
.content_footer .head_content_footer{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  
}
.content_footer a{
  color: #fff;
}
.block_footer img{
  max-width: 150px;
}
.block_footer h3{
  font-size: 32px;
  font-family: 'CaviarDreams';
  text-transform: uppercase;
  font-weight: 100;
  margin-bottom: 20px;
}
.block_footer ul li{
  font-size: 20px;
  font-family: 'Montserrat';
  margin-bottom: 15px;
  font-weight: 100;
}
.block_footer.social ul{
  display: flex;
  flex-wrap: wrap;
}
.block_footer.social h3{
  margin-bottom: 0;
}
.block_footer.social ul li{
  margin-right: 20px;
  margin-top: 20px;
}
.block_footer.social ul li a{
  font-size: 24px;
}
.block_footer{
  margin-right: 30px;
  margin-bottom: 50px;
}
.block_footer:last-child{
  margin-right: 0;
}
.copyright{
  font-weight: 100;
  text-align: center;
  font-size: 18px;
  margin-top: 30px;
  font-family: 'Montserrat';
}
.block_footer h4{
  margin-top: 10px;
  font-family: 'CaviarDreams';
  font-size: 24px;
  font-weight: 100;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.block_footer ul li button{
  border: none;
  color: #fff;
  background: none;
  font-size: 16px;
  font-weight: 100;
  font-family: 'Montserrat';
  margin-bottom: 10px;
  cursor: pointer;
}





@keyframes animateLeft{
    0%{
        background-position: 0px 0;
    }
    100%{
        background-position: 1000px 0;
    }
}

@media (max-width: 1046px){
  .about_section{
    justify-content: center;
  }
  .image_layer,
  .about_section div{
    width: 100%;
    background-size: 500px;
    background-repeat: no-repeat;
  }
  .image_layer{
    height: 500px;
    width: 500px !important;
  }
  .image_layer::before{
    background-size: 500px;
    background-repeat: no-repeat;
    left: 50%;
    transform: translateX(-50%);
  }
  .about_section{
    text-align: center;
    justify-content: center;
  }
  .about_section p{
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .content_image{
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 991px){
  header{
    padding: 20px;
  }
.header_section .sci{
    bottom: 40px;
    right: 20px;
  }
  .glass{
    width: 50%;
  }
.header_section .content h2{
    font-size: 10vw;
  }
.header_section .content h2 span{
    font-size: 0.25em;
    letter-spacing: 2px;
    padding: 0px 5px;
  }
  .width_content{
    padding: 50px;
  }
  .sci.activeSci{
    padding: 10px 50px;
  }
  .sci.activeSci{
    right: 0;
  }
  .content_footer{
    padding-top: 200px;
  }
}

@media(max-width: 750px){
  .swiper_pagination{
    left: 50% !important;
    transform: translateX(-50%);
    bottom: 40px !important;
  }
  .navigate_buttons{
    right: 50%;
    transform: translateX(50%);
    bottom: 100px;
  }
}
@media(max-width: 600px){
  .width_content{
    padding: 20px;
  }
  .sci.activeSci{
    padding: 10px 20px;
  }
  .title_sec{
    display: flex;
    text-align: center;
    flex-direction: column;
  }
  .title_sec img{
    margin-left: 0 !important;
    margin-top: 20px;
  }
  .content_footer{
    padding-top: 150px;
  }
  .image_layer{
    height: 300px;
    width: 300px !important;
  }
  .image_layer::before{
    background-size: 300px;
    background-repeat: no-repeat;
  }
  .image_layer,
  .about_section div{
    width: 100%;
    background-size: 300px;
    background-repeat: no-repeat;
  }
  .swiper_pagination{
    left: 50% !important;
    transform: translateX(-50%);
    bottom: 40px !important;
  }
  .navigate_buttons{
    right: 50%;
    transform: translateX(50%);
    bottom: 100px;
  }
  .block_footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .block_footer{
    width: 100%;
    margin-right: 0;
  }
  .block_footer ul li{
    text-align: center;
  }
  .header_section .content h2{
      font-size: 14vw;
  }
  .cardProject{
    width: 100%;
    margin-right: 0 !important;
  }
  .mainSlide{
    min-height: 120vh;
  }
}


.arrowScrolling{
  position: fixed;
  border: 2px solid #fff;
  z-index: 100000;
  bottom: 30px;
  left: 30px;
  border-radius: 8px;
  color: #202020;
  background: #fff;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
  transition: .5s;
  cursor: pointer;
  transform: rotate(180deg);
}
.arrowScrolling.scroller{
  transform: rotate(0deg);
}
.arrowScrolling:hover{
  background: #fff;
  color: #202020;
  transform: rotate(185deg);
}
.arrowScrolling.scroller:hover{
  transform: rotate(5deg);
}